*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin-top: 5px; */
}

body{
    background-image: url("../assets/background.png");
    background-size: 100%;
    font-family: 'Outfit';
    text-rendering: optimizeLegibility !important;
    display: flex;
    flex-direction: column;
}
.container{
    height: 100vh;
}
.navigation-bar{
    background-color: white;
    opacity: 0.5;
    padding: 32px;
    height: 64px;
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 4px 2px #555;
}
.profile-img-nav > img{
        margin-right: 16px;
        width: 48px;
        height: 48px;
        border: 2px solid black;
        border-radius: 64px;
}
.icons-nav{
    height: 100%;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.icons:hover{
    transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.1, 1.1);
  box-shadow: 0px 2px 0px 0px;

}
.content{
    padding: 8px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-info0{
    display: flex;
    width: 400px;
    justify-content: initial;
    align-items: start;
}
.user-info{
    padding-top: 32px;
    padding-bottom: 32px;
    border: 2px solid black;
    border-radius: 16px;
    width: 400px;
    height: fit-content;
    margin-right: 8px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.feed{
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 90vh;
    min-height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
.icons{
    width: 40px;
    height: 40px;
}
img{
    width: 100%;
    height: 100%;
}
.logo > img{
    width: 400px;
}
.profile{
    display:flex;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}
.folowers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.folowers > img{
    width: 32px;
    height: 32px; 
}
.profile-img > img{
    margin-right: 16px;
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 64px;
}
.piupiu{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: white;
    width: 320px;
    height: 160px;
    opacity: 0,8;
    border-radius: 56px;
}
.piupiu > img{
    width: 32px;
    height: 32px;
    align-items: flex-start;
    margin-right: 16px;
}
.input{
    border: 0;
    outline: 0;
    width: 240px;
    height: 120px;
}
.bio{
    border: 0;
    outline: 0;
    width: 240px;
    height: 120px;
    font-family: 'Outfit';
    font-size: large;
}
.button{
    display: flex;
    background-color: #B5C99A;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 64px;
    box-shadow: 0 0 4px 2px #555;
    margin-left: 8px;
    font-family: 'Outfit';
    font-size: large;
}
.button:hover{
    transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  box-shadow: 0 0 4px 2px #555;

}
.button > img{
    width: 40px;
    height: 40px;
}

.biografia{
    display: flex;
    padding: 16px;
    width: 320px;
    height: 160px;
    border: 2px solid black;
    border-radius: 32px;
    background-color: white;
    opacity: 0,8;
}
.save{
    width: fit-content;
    height: fit-content;
    align-items: flex-end;
    border-radius: 32px;
}
.feed-piu{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 480px;
    height: fit-content;
    background-color: white;
    opacity: 0,8;
    border: 2px solid black;
    border-radius: 32px;
}
.input{
    font-family: 'Outfit';
    font-size: large;
}
.user-piu{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
.piu-img > img{
    margin-right: 16px;
    width: 56px;
    height: 56px;
    border: 2px solid black;
    border-radius: 64px;
}
.piu-text{
    font-size: large;
}
.piu-icons{
    display: flex;
    justify-content: space-between;
    width: 128px;
    height: fit-content;
}
.piu-button{
    border:0;
    width: fit-content;
    height: fit-content;
    background-color: white;
}
.piu-button:hover{
    transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 0px 0px;

}
.piu-button > img{
    width: 32px;
    height: 32px;
}
.search-bar{
    padding: 8px;
    padding-left: 8px;
    width: 800px;
    height: fit-content;
    border-radius: 64px;
    background-color: white;
    opacity: 0,8;
    box-shadow: 0 0 4px 2px #555;
    font-family: 'Outfit';
    font-size: large;
}
.search-kit{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-button{
    width: 32px;
    height: auto;
    border: 0;
    border-radius: 64px;
}
.search-button:hover{
    transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 0px 0px;
}
