*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 5px;
}
body{
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLWsHZyEhzVFDaZpVVi3I_gitRCymM0zxaz_49QQlvKnu4LM291D6Uk6O_wPOAI0wervYWJ7F3jJpBycijr8zPNp82f-nAnkB_gn5-_zkqAg6uxyt3r_xs5G058f2xv-1qbkkf1oBImfu85G7JjcK4c=w1307-h929-no?authuser=0");
    background-size: 100%;
    font-family: 'Outfit';
    text-rendering: optimizeLegibility !important;
    display: flex;
    flex-direction: column;
}
.header{
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
}
.navigation-bar{
    padding: 80px;
    height: 100%;
    width: inherit;
    display: flex;
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon{
    width: 520px;
    height: 100%;
    margin-right: 10px;
}
.content{
    padding: 10px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.user-info{
    border: 2px solid black;
    border-radius: 16px;
    width: 520px;
    height: 100%;
    margin-right: 10px;
}
.feed{
    border: 2px solid black;
    border-radius: 16px;
    width: inherit;
    height: 100%;
}